.container {
    height: 100vh;
    padding-top: 6rem;
}
.title {
    font-size: 2.5rem;
    font-weight: 700;
    max-width: 1000px;
    margin: auto;
    border-bottom: 0.25rem solid #fff;
    padding-bottom: 5px;
}
.description {

}