.landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    background-color: #000;
    color: #fff;
    &:before {
        content: '';
        position: absolute;
        background-image: url('/bg.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.5;
    }
    &__title {
        font-size: 4rem;
        font-weight: 700;
        opacity: 0.9;
        line-height: 4rem;
    }
    &__sub {
        font-weight: 300;
        font-size: 1.5rem;
        opacity: 0.9;
        text-transform: uppercase;
        strong {
            font-weight: 700;
        }
    }
}